@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-add185:before {
	content: "\e000";
}
.flaticon-creditcard8:before {
	content: "\e001";
}
.flaticon-datastorage1:before {
	content: "\e002";
}
.flaticon-day21:before {
	content: "\e003";
}
.flaticon-dollars45:before {
	content: "\e004";
}
.flaticon-hardware1:before {
	content: "\e005";
}
.flaticon-id:before {
	content: "\e006";
}
.flaticon-personal33:before {
	content: "\e007";
}
.flaticon-storage20:before {
	content: "\e008";
}
